<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixy.quartz.dao.HandlerStatusTaskMapper">
  <resultMap id="BaseResultMap" type="com.lixy.quartz.entity.HandlerStatusTask">
    <id column="handler_id" jdbcType="INTEGER" property="handlerId" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="begin_index" jdbcType="BIGINT" property="beginIndex" />
    <result column="end_index" jdbcType="BIGINT" property="endIndex" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    handler_id, task_id, begin_index, end_index, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from handler_task_status
    where handler_id = #{handlerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from handler_task_status
    where handler_id = #{handlerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lixy.quartz.entity.HandlerStatusTask">
    insert into handler_task_status (handler_id, task_id, begin_index, 
      end_index, status)
    values (#{handlerId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{beginIndex,jdbcType=BIGINT}, 
      #{endIndex,jdbcType=BIGINT}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lixy.quartz.entity.HandlerStatusTask">
    insert into handler_task_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="beginIndex != null">
        begin_index,
      </if>
      <if test="endIndex != null">
        end_index,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="handlerId != null">
        #{handlerId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="beginIndex != null">
        #{beginIndex,jdbcType=BIGINT},
      </if>
      <if test="endIndex != null">
        #{endIndex,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lixy.quartz.entity.HandlerStatusTask">
    update handler_task_status
    set task_id = #{taskId,jdbcType=INTEGER},
      begin_index = #{beginIndex,jdbcType=BIGINT},
      end_index = #{endIndex,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT}
    where handler_id = #{handlerId,jdbcType=INTEGER}
  </update>

  <select id="findTaskStatusPage" resultType="com.lixy.quartz.vo.TaskStatusShowVo" parameterType="com.lixy.quartz.vo.TaskStatusSearchVo">
    select
    ctr.table_name as tableName,
    hts.status as status
    from handler_task_status hts
    left join ht on hts.task_id = ht.task_id
    left join commit_table_record ctr on ht.commit_id=ctr.commit_id
    where 1=1
    <if test="tableName">
      ctr.table_name like concat(#{tableName},'%')
    </if>
    <if test="status">
      hts.status = #{status}
    </if>
  </select>
</mapper>